body {
    margin: 0;
}

.navbar {
    background-color: rgb(236, 81, 53);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

.navbar a:hover {
    background-color: rgb(223, 219, 219);
    color: black;
}

.navbar a.active {
    background-color: rgb(236, 81, 53);
    color: white;
}

.navbar .icon {
    display: none;
}

.navbar a.drop {
    float: right;
}

/* The code to modify the navbar*/

@media screen and (max-width: 520px) {
    .navbar a:not(:first-child) {
        display: none;}
    .navbar a.icon {
        float:right;
        display: block;
    }
}

@media screen and (max-width:520px){
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right:0;
        top:0;
    }
    .navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive a.drop{
        background-color: rgb(107, 104, 104);
        text-align: right;
        
    }
}

/* Container */

.container {
    margin: auto;
    max-width: 1200px;
}

/*iblock */

.iblock{
    
    padding-top: 10px;
}

.iblock * {
    position: relative;
    display: inline-block;
}

.iblock img {
    width: 20%;
}

/* text div */

.text{
    position: relative;
    top: -45px;
}

.text * {
    font-family: sans-serif;
    display: block;
    padding-left: 20px;
    padding-bottom: 30px ;
    margin: 0;
    box-sizing: border-box;

}

/* Price Div */

.price {
    position: relative;
    float:  right;
    top: 30px;
    font-family: sans-serif;
}

.price p {
    padding: 0;
    font-size: 18px;
}

/*pay bar */
.pay{
    margin: auto;
    position: fixed;
    overflow: hidden;
    background-color:rgb(240, 240, 240);
    bottom: 0;
    width: 1200px;
}

.pay_but {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom:10px ;
    background-color: chartreuse;
    border-radius: 5px;
    outline: 0;
    border: 10px;
}

.pay_but:active{
    background-color: rgb(11, 196, 11);
    transform: translateY(2px);
}

.pclass {
    float: right;
    padding-right: 10px;
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;
}

.cont:active{
    background-color: rgb(11, 196, 11);
    transform: translateY(2px);
}

